# Ignore Google API service account key
ticketbot_backend/ticketbot.json
ticketbot_backend/old_ticketbot.json
ticketbot_backend/.env
ticketbot_backend/savedtb.py
ticketbot_backend/templates/index_1.html
